[submodule "puppet/modules/varnish"]
	path = puppet/modules/varnish
	url = https://github.com/camptocamp/puppet-varnish.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/computerminds/puppet-concat.git
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = https://github.com/computerminds/puppet-pear.git
[submodule "puppet/modules/solr"]
	path = puppet/modules/solr
	url = https://github.com/computerminds/puppet-solr.git
